@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "whitrabt";
  src: url("../public/fonts/white-rabbit/whitrabt.woff") format("truetype");
  font-weight: inherit;
  font-style: normal;
  font-display: swap;
}

.blur-bg {
  backdrop-filter: blur(5px);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1f2235;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #869fc4;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #576a88;
}
